# Q. Emotion Mining on reviews from ecommerce website Amazon

## Importing Libraries

In [1]:
import numpy as np
import pandas as pd 
import spacy
from matplotlib import pyplot as plt
import string
from nltk import tokenize

## Loading Data Sets

In [2]:
review = pd.read_csv('apple.txt',error_bad_lines=False)
review = [x.strip() for x in review.x]
review = [x for x in review if x]
afinn = pd.read_csv('Afinn.csv',sep=',', encoding='latin-1')

b'Skipping line 6: expected 1 fields, saw 14\n'

In [3]:
sentences = tokenize.sent_tokenize(" ".join(review))

In [4]:
review_df = pd.DataFrame(sentences, columns=['sentence'])
review_df

                                              sentence
0    It's amazing..... battery last around 10 -12 h...
1                        Got it in 50k in Diwali sale.
2    Technically good laptop.Good News.luxury produ...
3       Terrific sense of possession & pride.Bad News.
4    Problems will be there if you are switching fr...
..                                                 ...
182  You can get one of the best movie experiences ...
183                        Overall I would it a 4.5/5.
184  I got a great deal on this laptop, which I hav...
185  I got it not only on discount but also was abl...
186  Laptop works really well, it was a good purchase!

[187 rows x 1 columns]

In [5]:
affinity_scores = afinn.set_index('word')['value'].to_dict()
nlp = spacy.load('en_core_web_sm')
sentiment_lexicon = affinity_scores

def calculate_sentiment(text: str = None):
    sent_score = 0
    if text:
        sentence = nlp(text)
        for word in sentence:
            sent_score += sentiment_lexicon.get(word.lemma_, 0)
    return sent_score

In [6]:
review_df['sentiment_value'] = review_df['sentence'].apply(calculate_sentiment)
review_df.sort_values(by='sentiment_value')
review_df

                                              sentence  sentiment_value
0    It's amazing..... battery last around 10 -12 h...                7
1                        Got it in 50k in Diwali sale.                0
2    Technically good laptop.Good News.luxury produ...                5
3       Terrific sense of possession & pride.Bad News.                4
4    Problems will be there if you are switching fr...              -11
..                                                 ...              ...
182  You can get one of the best movie experiences ...                3
183                        Overall I would it a 4.5/5.                0
184  I got a great deal on this laptop, which I hav...                3
185  I got it not only on discount but also was abl...                0
186  Laptop works really well, it was a good purchase!                3

[187 rows x 2 columns]